@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: rgb(247, 242, 250);
}

*::-webkit-scrollbar-thumb {
  border: 8px solid rgb(250, 249, 251);
}

body {
  font-family: 'Sarpanch', sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #1b1523;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.879) 60%, rgba(0, 0, 0, 0.508) 100%), url(../src/assets/img/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU3MS1hZXctMTExLWFscGhhYmV0XzEuanBn.webp) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}